//Main colors
$main-white-color: #f4f4f4;
$black-color: #000;
$white-color: #fff;
$gray-color: #262626;
$light-gray-color: #6b6b6b;
$sand-color: #e9cb9f;
$yellow-color: #f5c20f;
$green-color: #68d34f;
$blue-color: #62bdfb;
$pink-color: #fd245d;
